.watchlist-table-section{
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 45px;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: #141414;
  border-radius: 8px;
}

tr{
  height: 40px;
}

td{
  padding: 8px 20px;
}

.watchlist-heading{
  padding-left: 20px;
}

tbody tr:hover{
  background-color: #303030;
}

.heading-row{
  text-align: left;
}

.title-heading{
  width: 75%;
  padding-left: 72px;
}

tbody tr{
  color: #C9B99A;
}

.title-row{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.col-stats{
  text-align: center;
}

.poster-popup{
  position: absolute;
  height: 160px;
  width: 108px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px;
  z-index: 100;
  top: -35px;
  left: -120px;
}

.poster-popup img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

tbody tr:hover .poster-popup{
  opacity: 1;
}

.poster-thumb{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.entry-title{
  cursor: pointer;
}

.poster-container {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: none;
  cursor: pointer;
}

.fa-ellipsis{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  font-size: 20px;
  border-radius: 4px; 
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.2s ease-in-out;
}

tbody tr:hover .fa-ellipsis{
  opacity: 1;
}
